.articles {
    padding: 4rem 0 7.438rem;
    .swiper-slide {
        max-width: 424px;
        background-color: var(--beige);
    }
    @media only screen and (max-width: 768px) {
        padding: 2.875rem 0 5.25rem;
    }
}
.articles__heading {
    margin-bottom: 2.875rem;
    @media only screen and (max-width: 768px) {
        margin-bottom: 1.875rem;
        text-transform: uppercase;
    }
}
.articlesSwiper {
    overflow: hidden;
}
.articles__slide-text {
    text-align: center;
    padding: 1.5rem 1rem 2rem;
    h4 {
        font-size: 1.25rem;
        line-height: 130%;
        text-transform: uppercase;
        margin-bottom: 1rem;
    }
    p {
        font-family: var(--second-font);
        font-size: 0.875rem;
        line-height: 130%;
        margin-bottom: 2rem;
    }
    a {
        color: var(--red);
        text-decoration: underline;
        text-underline-offset: 3px;
        text-decoration-skip-ink: none;
    }
}
.articles__content {
    position: relative;
}
.articles__pagination {
    display: none;
    position: relative;
    padding-top: 2.2rem;
    z-index: 1;
    @media only screen and (max-width: 768px) {
        display: block;
    }
}
.articles__arrows {
    display: none;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    bottom: 0;
    div {
        cursor: pointer;
    }
    @media only screen and (max-width: 768px) {
        display: flex;
        z-index: 9;
    }
}