.best {
    padding: 52px 0 62px;
}
.best__heading {
    margin-bottom: 2.875rem;
}
.bestSwiper {
    overflow: hidden;
}
.best__swiper-wrapper {
    position: relative;
    margin-bottom: 3.875rem;
}
.best__swiper-left {
    div:first-of-type {
        display: flex;
        align-items: center;
        gap: 0.75rem;
    }
    span {
        font-family: var(--second-font);
        font-size: 0.875rem;
        line-height: 130%;
        color: var(--black);
        opacity: 0.64;
    }
    h3 {
        font-size: 1.75rem;
        line-height: 130%;
        text-transform: uppercase;
        padding-top: 0.75rem;
    }
}
.best__swiper-text {
    padding-top: 1.063rem; 
    display: grid;
    grid-template-columns: 8fr 2fr 2fr;
}
.best__swiper-center {
    display: grid;
    gap: 11px;
    font-size: 0.875rem;
    line-height: 110%;
    font-family: var(--second-font);
    span {
        opacity: 0.64;
    }
}
.best__swiper-right {
    justify-self: flex-end;
    a {
        color: var(--red);
        text-decoration: underline;
        text-underline-offset: 3px;
        text-decoration-skip-ink: none;
    }
}
.best__swiper-arrows {
    position: absolute;
    top: 40%;
    z-index: 9;
    display: flex;
    width: 100%;
    justify-content: space-between;
    div {
        cursor: pointer;
    }
    @media only screen and (max-width: 768px) {
        display: none;
    }
}
.best__swiper-left__arrow {
    transform: translate(-40px, -10px);
}
.best__swiper-right__arrow {
    transform: translate(40px, -10px);
}
.bestSwiper2__content {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.bestSwiper2__name {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-left: 16px;
    h3 {
        font-size: 1.25rem;
        text-transform: uppercase;
    }
}
.bestSwiper2__tech {
    text-align: end;
    display: grid;
    gap: 0.75rem;
    span {
        opacity: 0.64;
        font-family: var(--second-font);
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 110%;
    }
}
.best__second-swiper {
    position: relative;
}
.best__second-arrows {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    z-index: 9;
    top: 40%;
    @media only screen and (max-width: 768px) {
        display: none;
    }
}
.best__second-left {
    transform: translate(-40px, -10px);
}
.best__second-right {
    transform: translate(40px, -10px);
}