.header {
    background-image: url(/img/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 1440 / 810;
    height: 100vh;
    width: 100vw;
    @media only screen and (max-width: 768px) {
        height: auto;
    }
}
.header__row {
    background-color: var(--white);
    .container {
        padding: 1rem 3rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media only screen and (max-width: 768px) {
            padding: 0.75rem 1rem;
        }
    }
}
.header__logo {
    display: flex;
    gap: 16px;
    align-items: center;
    font-size: 14px;
    @media only screen and (max-width: 768px) {
        p {
            display: none;
        }
    }
}

.header__controls {
    display: flex;
    gap: 16px;
    div {
        cursor: pointer;
        width: 40px;
        height: 40px;
        border: 1px solid var(--black);
        border-radius: 100%;
        img {
            padding: 8px;
        }
    }
}
.header__hero {
    color: var(--white);
    margin-top: 7rem;
    text-align: center;
    display: flex;
    justify-content: center;
    span {
        font-size: 1.75rem;
        text-transform: uppercase;
    }
    h1 {
        font-weight: 400;
        font-size: 3.25rem;
        width: 100%;
        max-width: 67.563rem;
        padding-top: 9.188rem;
    }
    button {
        margin-top: 10.313rem;
    }
    @media only screen and (max-width: 768px) {
        margin-top: 8.375rem;
        h1 {
            font-size: 2rem;
            padding-top: 4rem;
        }
        span {
            font-size: 1.25rem;
        }
        button {
            margin-top: 11.5rem;
            margin-bottom: 4rem;
            width: 100%;
        }
    }
}