.map {
    width: 100%;
    height: 32.5rem;
    // filter: brightness(50%);
}
.ymaps-2-1-79-gototech {
    display: none!important;
}
.ymaps-2-1-79-copyright__link {
    display: none!important;
}
.marker-class {
    background-image: url(../img/icons/map-icon.svg);
    background-repeat: no-repeat;
    width: 183px;
    height: 57px;
    @media only screen and (max-width: 768px) {
        background-image: url(../img/icons/map-icon-mob.svg);
        width: 108px;
        height: 31;
    }
}