:root {
    --first-font: 'Tenor Sans', sans-serif;
    --second-font: 'Geologica', sans-serif;
    --black: #1E1E1E;
    --white: #FFFFFF;
    --red: #C10A27;
    --green: #44b85c;
    --beige: #F8F8F8;
}